/*
* Initializers
*/
/*
* Every element styling
*/
* {
  margin: 0%;
  padding: 0%;
  font-family: "Comfortaa", cursive;
  outline: 0; }

/*
* ON HOVER SELECTION
*/
*::selection {
  background-color: #B98D24;
  color: #fff; }

*::-moz-selection a {
  color: #fff444; }

*::-moz-selection {
  background: #B98D24;
  /* Gecko Browsers */
  color: #fff; }

p {
  line-height: 40px; }

.right {
  float: right; }

.left {
  float: left; }

.button {
  border: 2px solid #0F0672;
  color: #0F0672;
  padding: 1%;
  background: linear-gradient(to right, transparent 50%, #0F0672 50%);
  background-size: 200% 100%;
  background-position: left bottom; }

.button:hover {
  transition: all .5s ease;
  background-position: right bottom; }

/*
* DEFAULT MODULE STYLING
*/
.background_image, .image_container, .welcome_to_about, .why_us_image, .welcome_to_careers, .welcome_to_services {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; }

/*
* Slider container styling
*/
.image_container, .welcome_to_about {
  background-size: cover;
  height: 50vh; }
  .image_container .text, .welcome_to_about .text {
    color: #fff;
    text-align: center;
    margin: 10% 0% 15% 0%; }
    .image_container .text h1, .welcome_to_about .text h1 {
      font-size: 3em;
      margin: 1.5% 0%;
      color: #0F0672; }
      .image_container .text h1 span, .welcome_to_about .text h1 span {
        background-color: #fff;
        padding: 1%; }

.scroll {
  text-align: center; }
  .scroll i {
    color: #fff;
    font-size: 4em;
    cursor: pointer;
    -webkit-transition: padding .5s; }
  .scroll i:hover {
    padding-top: 1%; }

/*
* top menu design
*/
.top-menu {
  position: fixed;
  width: 100%;
  z-index: 2; }
  .top-menu img {
    width: 150px;
    margin: .5%; }
  .top-menu li {
    display: inline-block;
    list-style: none; }
  .top-menu .links a {
    color: #fff;
    padding: 1%;
    margin: 0% 1.5%;
    font-size: 1.3em;
    position: relative; }
  .top-menu .links a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #fff;
    transition: .4s; }
  .top-menu .links a:hover:after {
    width: 100%; }
  .top-menu ul {
    width: 50%;
    padding: 1% 1% .5% 5%;
    text-align: right; }

/*
* Alternative menu - coco
*/
.coco {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  .coco .links a {
    color: #333; }
  .coco .links a:after {
    border-bottom: 2px solid #333; }

/*
* Hamburger Menu
*/
.hamburger-menu {
  visibility: hidden;
  position: fixed;
  z-index: 3;
  padding: 2%;
  cursor: pointer; }
  .hamburger-menu i {
    color: #fff;
    font-size: 2.5em; }

/*
* hidden-menu (phone menu)
*/
.hidden-menu {
  background-color: #0F0672;
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100%;
  text-align: left; }
  .hidden-menu h3 {
    font-size: 3em;
    margin: 1% 10%;
    border-bottom: 1px solid #fff;
    width: 80%;
    padding: 2% 0%;
    color: #fff; }
  .hidden-menu ul {
    padding: 15% 0%; }
    .hidden-menu ul li {
      list-style: none;
      font-size: 3em;
      padding: 1% 10%;
      margin: 2% 0%; }
    .hidden-menu ul a {
      color: #fff;
      text-decoration: none; }
    .hidden-menu ul a:hover {
      color: #FFDB4F; }
  .hidden-menu .closeit {
    padding: 2%;
    cursor: pointer; }
    .hidden-menu .closeit i {
      font-size: 2.5em;
      color: #fff; }

/*
* what_we_can_do
*/
.what_we_can_do {
  text-align: center;
  padding: 5%;
  overflow-x: hidden; }
  .what_we_can_do .point {
    margin: 1%;
    padding: 7% 10%;
    color: #444;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    text-align: left; }
    .what_we_can_do .point .logo {
      text-align: center; }
    .what_we_can_do .point i {
      font-size: 4em;
      text-align: center; }
    .what_we_can_do .point h3 {
      padding: 1%;
      border-bottom: 1px solid #444; }
    .what_we_can_do .point p {
      text-align: left; }
    .what_we_can_do .point a {
      padding: 2%; }
    .what_we_can_do .point a:hover {
      color: #fff;
      text-decoration: none; }

/*
* Quick question
*/
.quick_question {
  padding: 4%;
  text-align: center; }
  .quick_question a {
    color: #0F0672; }
  .quick_question a:hover {
    color: #fff;
    text-decoration: none; }

/*
* why us
*/
.why_us {
  padding: 5%; }

.why_us_image {
  background: url(../images/background2.jpg) no-repeat center center;
  background-size: cover;
  height: 50vh; }
  .why_us_image h1 {
    text-align: center;
    color: #fff;
    margin: 28% 0%; }
    .why_us_image h1 span {
      color: #0F0672; }

.why_us_text {
  background-color: #efefef;
  height: 50vh;
  color: #444; }
  .why_us_text p {
    padding: 12% 5% 5% 0%; }
  .why_us_text a {
    border: 2px solid #0F0672;
    padding: 2%;
    text-decoration: none;
    color: #0F0672;
    background: linear-gradient(to right, #efefef 50%, #0F0672 50%);
    background-size: 200% 100%;
    background-position: left bottom; }
  .why_us_text a:hover {
    color: #fff;
    background-color: #fff;
    transition: all .5s ease;
    background-position: right bottom; }

/*
* our clients
*/
.our_clients {
  padding: 2%;
  text-align: center; }
  .our_clients .client img {
    height: 80px;
    width: auto;
    -webkit-transition: filter .5s; }

/*
* testimonials
*/
.testimonials {
  padding: 10%;
  overflow: hidden; }

.testimony {
  text-align: center;
  overflow: hidden;
  color: #666; }
  .testimony img {
    border-radius: 100%;
    margin: 1% 0%;
    width: 200px; }
  .testimony h4 span {
    padding: .5% 0%;
    border-bottom: 1px solid #666; }
  .testimony p {
    width: 50% !important;
    margin: auto;
    font-style: italic; }

/*
* footer
*/
footer {
  text-align: center;
  color: #777;
  padding: 2%; }
  footer a {
    color: #333;
    -webkit-transition: color .5s; }
  footer a:hover {
    color: #0F0672;
    text-decoration: underline; }

/*
----------------------------------------------------------
ABOUT US
----------------------------------------------------------
*/
.welcome_to_about {
  background: url(../images/background3.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .welcome_to_about .text {
    text-align: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 17%; }
    .welcome_to_about .text h1 {
      border-bottom: 2px solid #fff;
      width: 80%;
      padding: 1% 0%;
      color: #FFDB4F; }
    .welcome_to_about .text p {
      font-size: 2em;
      width: 90%;
      line-height: 60px; }
    .welcome_to_about .text button {
      border: 2px solid #FFDB4F;
      color: #FFDB4F;
      text-decoration: none;
      padding: 2% 5%;
      background: linear-gradient(to right, transparent 50%, #FFDB4F 50%);
      background-size: 200% 100%;
      background-position: left bottom; }
    .welcome_to_about .text button:hover {
      color: #000;
      transition: all .5s ease;
      background-position: right bottom; }

/*
* about us
*/
.about_border {
  padding: 5% 0%; }

.about_us {
  padding: 0% 10%; }
  .about_us img {
    width: 100%;
    text-align: left;
    padding: 10%; }
  .about_us .text {
    padding: 4% 0%;
    text-align: left; }
  .about_us h1, .about_us p {
    line-height: 50px;
    width: 80%; }

/*
* company logo design
*/
.company_logo {
  margin: 10% 3%;
  background-color: #000; }
  .company_logo img {
    width: 100%; }

/*
----------------------------------------------------------
CONTACT PAGE STYLING
----------------------------------------------------------
*/
.google_map .map_cover {
  background-color: rgba(255, 219, 79, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden; }
.google_map iframe {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1; }

.classified_holder {
  padding: 10% 5%; }

.contact_menu {
  background-color: #fff;
  padding: 2% 2% 3% 2%;
  margin: 1% 4%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
  .contact_menu h3 {
    border-bottom: 1px solid #333;
    padding: 1% 0%;
    line-height: 40px;
    margin: 4% 0%; }
  .contact_menu li {
    list-style: none;
    padding: 2% 0%;
    margin: 2% 0%;
    font-size: 1.2em;
    font-weight: 400; }
    .contact_menu li i {
      font-size: 1.5em;
      padding-right: 5%; }

.contact_form {
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  margin: 1% 4%;
  padding: 0% 2% 4% 2%; }
  .contact_form h3 {
    border-bottom: 1px solid #333;
    padding: 1% 0%;
    line-height: 40px;
    margin: 4% 0%; }

.my_form {
  padding-bottom: 5%; }
  .my_form h3 {
    text-align: center; }
  .my_form .ui-form {
    width: 50%;
    margin: auto; }

.ui-form input[type='text'], .ui-form select, .ui-form textarea {
  border: 2px solid #0F0672;
  color: #0F0672;
  width: 49%;
  margin: 1.5;
  padding: 2%; }
.ui-form input[type='text']:focus, .ui-form select:focus, .ui-form textarea:focus {
  border: 2px solid #FFDB4F; }
.ui-form select, .ui-form textarea {
  width: 98.5%; }
.ui-form input[type='submit'] {
  width: 49%; }
.ui-form input[type='submit']:hover {
  color: #fff; }
.ui-form .button {
  padding: 1.7%; }
.ui-form h4 {
  padding: 1% 0%; }
.ui-form .sent {
  background-color: #1DA361;
  width: 49%;
  border: 2px solid #1DA361;
  padding: 1%; }
  .ui-form .sent i {
    color: #fff;
    font-size: 2em; }

/*
----------------------------------------------------------
CAREERS PAGE STYLING
----------------------------------------------------------
*/
.welcome_to_careers {
  background: url(../images/background4.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh; }
  .welcome_to_careers h1 {
    text-align: center; }

.careers {
  padding: 5% 2%; }
  .careers h2 {
    text-align: center; }

.job {
  margin: 2%;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  padding: 2%; }
  .job h3 {
    border-bottom: 1px solid #333;
    margin: 1% 0%;
    padding: 1% 0%; }
  .job h4 {
    padding: 1% 0%;
    font-weight: bold; }
  .job li {
    padding: .5% 0%; }
  .job span {
    color: #3891ff; }

/*
----------------------------------------------------------
SERVICES PAGE STYLING
----------------------------------------------------------
*/
.welcome_to_services {
  background: url(../images/background5.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 70vh; }
  .welcome_to_services .text {
    text-align: center;
    margin: 15% 0%;
    color: #0F0672; }
    .welcome_to_services .text span {
      background-color: #fff;
      padding: 1%; }

/*
* our list of packages
*/
.packages {
  text-align: center;
  padding: 7% 0%; }
  .packages h1 {
    padding: 2%; }
  .packages img {
    width: 120px;
    text-align: center; }
  .packages a {
    text-decoration: none;
    padding: 1.5% 4%; }
  .packages a:hover {
    color: #fff; }

/*
* our internet services
*/
.services {
  padding: 5% 10%; }

.service {
  padding: 3% 2% 2% 2%;
  margin: .5% 0%;
  height: 35vh;
  -webkit-transition: padding 0.5s, box-shadow 0.5s !important; }
  .service i {
    font-size: 4em; }

.service:hover {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #0F0672;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }

.call_away {
  padding: 8% 0%;
  text-align: center; }
  .call_away a {
    text-decoration: none; }
  .call_away a:hover {
    color: #fff; }

/*
* Training Page Styling
*/
.training {
  padding: 5% 10%; }
  .training .text {
    text-align: center;
    padding: 10% 5%; }

.course {
  text-align: center;
  padding: 2%; }
  .course img {
    width: 50%;
    height: auto; }
  .course h4 {
    padding: 5%;
    color: #444;
    line-height: 30px; }

/*VIEW PORT PAGE RESPONSIVENESS*/
/*Devices screen sizes to fit desktops, laptops, tablets and phones*/
@media screen and (max-width: 1440px) {
  /*
  ----------------------------------------------------------
  HOME PAGE
  ----------------------------------------------------------
  */
  .image_container .text, .welcome_to_about .text {
    margin-top: 30%; }

  .button {
    padding: 1.3% 1.5%; }

  .why_us_image h1 {
    margin: 38% 0%; }

  .why_us_text a {
    padding: 2.5%; }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about .text {
    width: 60%;
    margin-top: 17%;
    margin-left: 5%; } }
@media screen and (max-width: 1024px) {
  /*
  ----------------------------------------------------------
  HOME PAGE
  ----------------------------------------------------------
  */
  .image_container .text, .welcome_to_about .text {
    margin-top: 35%; }

  .top-menu {
    visibility: hidden; }

  .hamburger-menu {
    visibility: visible; }

  .our_clients .client img {
    height: 50px; }

  .testimony p {
    width: 100% !important; }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about .text {
    width: 90%;
    margin-top: 27%; } }
@media screen and (max-width: 768px) {
  /*
  ----------------------------------------------------------
  HOME PAGE
  ----------------------------------------------------------
  */
  .image_container .text, .welcome_to_about .text {
    margin-top: 50%; }
    .image_container .text h1, .welcome_to_about .text h1 {
      margin: 5% 0%; }

  .hidden-menu ul {
    padding: 25% 0%; }

  .button {
    padding: 3%; }

  .our_clients .client {
    margin: 3% 0%; }
    .our_clients .client img {
      height: 100px; }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about .text {
    width: 100%;
    margin-top: 35%; }

  .about_us .text {
    text-align: center; }
  .about_us h1, .about_us p {
    width: 100%; } }
@media screen and (max-width: 500px) {
  .image_container .text, .welcome_to_about .text {
    margin-top: 50%; }
    .image_container .text h1, .welcome_to_about .text h1 {
      margin: 5% 0%; }

  .quick_question {
    margin: 2%; }
    .quick_question a {
      display: block; }

  .why_us_text {
    height: 60vh; }

  .testimony h4 span {
    border: none; }

  footer {
    font-size: .8em; }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about .text {
    width: 100%;
    margin-top: 35%;
    margin-left: 0%;
    text-align: center; }
    .welcome_to_about .text h1 {
      width: 100%;
      border-bottom: none; }
    .welcome_to_about .text p {
      font-size: 1.5em;
      width: 100%; } }
@media screen and (max-width: 480px) {
  .image_container .text, .welcome_to_about .text {
    margin-top: 50%; }
    .image_container .text h1, .welcome_to_about .text h1 {
      margin: 5% 0%;
      font-size: 2em; }
    .image_container .text h2, .welcome_to_about .text h2 {
      font-size: 1.5em; } }

/*# sourceMappingURL=main.css.map */
