/*
* Initializers
*/
$main-font:'Comfortaa', cursive;
$italic-font:'Courgette', cursive;
$white:#fff;
$theme-color:#0F0672;
$link-color:#FFDB4F;



/*
* Every element styling
*/
*{
  margin:0%;
  padding:0%;
  font-family:$main-font;
  outline:0;
}

/*
* ON HOVER SELECTION
*/
*::selection{
  background-color:#B98D24;
  color:#fff;
}

*::-moz-selection a{
  color:#fff444;
}

*::-moz-selection {
  background:#B98D24; /* Gecko Browsers */
  color:#fff;
}

p{
  line-height:40px;
}

.right{
  float:right;
}

.left{
  float:left;
}

.button{
  border:2px solid $theme-color;
  color:$theme-color;
  padding:1%;
  background:linear-gradient(to right, transparent 50%, $theme-color 50%);
  background-size:200% 100%;
  background-position:left bottom;
}

.button:hover{
  transition:all .5s ease;
  background-position:right bottom;
}


/*
* DEFAULT MODULE STYLING
*/
// background styling
.background_image{
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}






/*
* Slider container styling
*/
.image_container{
  @extend .background_image;
  background-size:cover;
  height:50vh;



  .text{
    color:$white;
    text-align: center;
    margin:10% 0% 15% 0%;

    h1{
      font-size:3em;
      margin:1.5% 0%;
      color:$theme-color;

      span{
        background-color:#fff;
        padding:1%;
      }
    }
  }
}

// scroll styling
.scroll{
  text-align: center;

  i{
    color:$white;
    font-size:4em;
    cursor: pointer;
    -webkit-transition:padding .5s;
  }

  i:hover{
    padding-top:1%;
  }
}


/*
* top menu design
*/
.top-menu{
  position:fixed;
  width:100%;
  z-index:2;

  img{
    width:150px;
    margin:.5%;
  }


  li{
    display:inline-block;
    list-style: none;
  }

  .links{
    a{
      color:$white;
      padding:1%;
      margin:0% 1.5%;
      font-size:1.3em;
      position: relative;
    }


    a:after{
      content:'';
      position: absolute;
      bottom:0;
      left:0;
      width:0%;
      border-bottom:2px solid $white;
      transition:.4s;
    }

    a:hover:after{
      width:100%;
    }
  }



  ul{
    width:50%;
    padding:1% 1% .5% 5%;
    text-align:right;
  }
}


/*
* Alternative menu - coco
*/
.coco{
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.2);
  background-color:#fff;

  .links{
    a{
      color:#333;
    }

    a:after{
      border-bottom:2px solid #333;
    }
  }
}


/*
* Hamburger Menu
*/
.hamburger-menu{
  visibility: hidden;
  position: fixed;
  z-index:3;
  padding:2%;
  cursor: pointer;

  i{
    color:#fff;
    font-size:2.5em;
  }
}

/*
* hidden-menu (phone menu)
*/
.hidden-menu{
  background-color:$theme-color;
  position: fixed;
  z-index:3;
  height:100vh;
  width:100%;
  text-align: left;

  h3{
    font-size:3em;
    margin:1% 10%;
    border-bottom:1px solid $white;
    width:80%;
    padding:2% 0%;
    color:$white;
  }

  ul{
    padding:15% 0%;

    li{
      list-style: none;
      font-size:3em;
      padding:1% 10%;
      margin:2% 0%;
    }

    a{
      color:$white;
      text-decoration: none;
    }

    a:hover{
      color:$link-color;
    }
  }

  .closeit{
    padding:2%;
    cursor: pointer;

    i{
      font-size:2.5em;
      color:$white;
    }
  }
}




/*
* what_we_can_do
*/
.what_we_can_do{
  text-align: center;
  padding:5%;
  overflow-x: hidden;

  .point{
    margin:1%;
    padding:7% 10%;
    color:#444;
    box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.2);
    text-align: left;

    .logo{
      text-align: center;
    }

    i{
      font-size:4em;
      text-align: center;
    }

    h3{
      padding:1%;
      border-bottom:1px solid #444;
    }

    p{
      text-align: left;
    }

    a{
      padding:2%;
    }

    a:hover{
      color:#fff;
      text-decoration:none;
    }
  }
}



/*
* Quick question
*/
.quick_question{
  padding:4%;
  text-align: center;

  a{
    color:$theme-color;
  }

  a:hover{
    color:$white;
    text-decoration: none;
  }
}




/*
* why us
*/
.why_us{
  padding:5%;
}

.why_us_image{
  @extend .background_image;
  background: url(../images/background2.jpg) no-repeat center center;
  background-size:cover;
  height:50vh;

  h1{
    text-align: center;
    color:$white;
    margin:28% 0%;

    span{
      color:$theme-color;
    }
  }
}


.why_us_text{
  background-color:#efefef;
  height:50vh;
  color:#444;

  p{
    padding:12% 5% 5% 0%;
  }

  a{
    border:2px solid $theme-color;
    padding:2%;
    text-decoration: none;
    color:$theme-color;
    background:linear-gradient(to right, #efefef 50%, $theme-color 50%);
    background-size:200% 100%;
    background-position:left bottom;
  }

  a:hover{
    color:#fff;
    background-color:$white;
    transition:all .5s ease;
    background-position:right bottom;
  }
}




/*
* our clients
*/
.our_clients{
  padding:2%;
  text-align: center;

  .client{
    img{
      height:80px;
      width:auto;
      -webkit-transition:filter .5s;
    }
  }
}




/*
* testimonials
*/
.testimonials{
  padding:10%;
  overflow: hidden;
}


.testimony{
  text-align: center;
  overflow: hidden;
  color:#666;

  img{
    border-radius:100%;
    margin:1% 0%;
    width:200px;
  }

  h4{
    span{
      padding:.5% 0%;
      border-bottom:1px solid #666;
    }
  }

  p{
    width:50%!important;
    margin: auto;
    font-style: italic;
  }
}



/*
* footer
*/
footer{
  text-align: center;
  color:#777;
  padding:2%;

  a{
    color:#333;
    -webkit-transition:color .5s;
  }

  a:hover{
    color:$theme-color;
    text-decoration: underline;
  }
}



/*
----------------------------------------------------------
ABOUT US
----------------------------------------------------------
*/
.welcome_to_about{
  @extend .background_image;
  @extend .image_container;
  background: url(../images/background3.jpg) no-repeat center center;
  background-size: cover;
  height:100vh;


  .text{
    text-align: left;
    width:40%;
    margin-left:10%;
    margin-top:17%;

    h1{
      border-bottom:2px solid $white;
      width:80%;
      padding:1% 0%;
      color:$link-color;
    }

    p{
      font-size:2em;
      width:90%;
      line-height:60px;
    }

    button{
      border:2px solid $link-color;
      color:$link-color;
      text-decoration:none;
      padding:2% 5%;
      background:linear-gradient(to right, transparent 50%, $link-color 50%);
      background-size:200% 100%;
      background-position:left bottom;
    }

    button:hover{
      color:#000;
      transition:all .5s ease;
      background-position:right bottom;
    }
  }
}


/*
* about us
*/
.about_border{
  padding:5% 0%;
}

.about_us{
  padding:0% 10%;

  img{
    width:100%;
    text-align:left;
    padding:10%;
  }

  .text{
    padding:4% 0%;
    text-align: left;
  }

  h1, p{
    line-height:50px;
    width:80%;
  }
}


/*
* company logo design
*/
.company_logo{
  margin:10% 3%;
  background-color:#000;

  img{
    width:100%;
  }
}



/*
----------------------------------------------------------
CONTACT PAGE STYLING
----------------------------------------------------------
*/
.google_map{

  .map_cover{
    background-color:rgba($link-color, .5);
    height:100vh;
    width:100%;
    position: fixed;
    z-index:2;
    overflow-y: scroll;
    overflow-x: hidden;
  }


  iframe{
    position: fixed;
    width:100%;
    height:100vh;
    z-index:1;
  }
}

.classified_holder{
  padding:10% 5%;
}

// contact menu
.contact_menu{
  background-color:$white;
  padding:2% 2% 3% 2%;
  margin:1% 4%;
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.2);

  h3{
    border-bottom:1px solid #333;
    padding:1% 0%;
    line-height:40px;
    margin:4% 0%;
  }

  li{
    list-style:none;
    padding:2% 0%;
    margin:2% 0%;
    font-size:1.2em;
    font-weight: 400;

    i{
      font-size:1.5em;
      padding-right:5%;
    }
  }
}



// contact form
.contact_form{
  background-color:#fff;
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.2);
  margin:1% 4%;
  padding:0% 2% 4% 2%;

  h3{
    border-bottom:1px solid #333;
    padding:1% 0%;
    line-height:40px;
    margin:4% 0%;
  }
}

.my_form{
  padding-bottom:5%;

  h3{
    text-align: center;
  }

  .ui-form{
    width:50%;
    margin: auto;
  }
}

.ui-form{
  input[type='text'], select, textarea{
    border:2px solid $theme-color;
    color:$theme-color;
    width:49%;
    margin:1.5;
    padding:2%;
  }

  input[type='text']:focus, select:focus, textarea:focus{
    border:2px solid $link-color;
  }

  select, textarea{
    width:98.5%;
  }

  input[type='submit']{
    width:49%;
  }

  input[type='submit']:hover{
    color:$white;
  }

  .button{
    padding:1.7%;
  }

  h4{
    padding:1% 0%;
  }

  .sent{
    background-color:#1DA361;
    width:49%;
    border:2px solid #1DA361;
    padding:1%;

    i{
      color:$white;
      font-size:2em;
    }
  }
}




/*
----------------------------------------------------------
CAREERS PAGE STYLING
----------------------------------------------------------
*/
.welcome_to_careers{
  @extend .background_image;
  background: url(../images/background4.jpg) no-repeat center center fixed;
  background-size:cover;
  height:100vh;

  h1{
    text-align:center;
  }
}

.careers{
  padding:5% 2%;

  h2{
    text-align: center;
  }
}

.job{
  margin:2%;
  background-color:#fff;
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.4);
  padding:2%;

  h3{
    border-bottom:1px solid #333;
    margin:1% 0%;
    padding:1% 0%;
  }

  h4{
    padding:1% 0%;
    font-weight: bold;
  }

  li{
    padding:.5% 0%;
  }

  span{
    color:#3891ff;
  }
}






/*
----------------------------------------------------------
SERVICES PAGE STYLING
----------------------------------------------------------
*/
.welcome_to_services{
  @extend .background_image;
  background: url(../images/background5.jpeg) no-repeat center center fixed;
  background-size:cover;
  height:70vh;

  .text{
    text-align: center;
    margin:15% 0%;
    color:$theme-color;

    span{
      background-color:$white;
      padding:1%;
    }
  }
}


/*
* our list of packages
*/
.packages{
  text-align: center;
  padding:7% 0%;

  h1{
    padding:2%;
  }

  img{
    width:120px;
    text-align: center;
  }

  a{
    text-decoration: none;
    padding:1.5% 4%;
  }

  a:hover{
    color:$white;
  }
}


/*
* our internet services
*/
.services{
  padding:5% 10%;
}


.service{
  padding:3% 2% 2% 2%;
  margin:.5% 0%;
  height:35vh;
  -webkit-transition:padding .5s, box-shadow .5s!important;

  i{
    font-size:4em;
  }
}

.service:hover{
  padding-top:2%;
  padding-bottom:2%;
  color:$theme-color;
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.2);
}



.call_away{
  padding:8% 0%;
  text-align: center;

  a{
    text-decoration: none;
  }

  a:hover{
    color:$white;
  }
}

/*
* Training Page Styling
*/
.training{
  padding:5% 10%;

  .text{
    text-align: center;
    padding:10% 5%;
  }
}

.course{
  text-align: center;
  padding:2%;

  img{
    width:50%;
    height: auto;
  }

  h4{
    padding:5%;
    color:#444;
    line-height:30px;
  }
}



// imports
@import "mobile_responsiveness";
