/*VIEW PORT PAGE RESPONSIVENESS*/
/*Devices screen sizes to fit desktops, laptops, tablets and phones*/
@media screen and (max-width: 2048px) {


}

@media screen and (max-width: 1440px) {

  /*
  ----------------------------------------------------------
  HOME PAGE
  ----------------------------------------------------------
  */
  // image container > text > h1
  .image_container{
    .text{
      margin-top:30%;
    }
  }

  // button styling
  .button{
    padding:1.3% 1.5%;
  }

  // why us > margin
  .why_us_image{
    h1{
      margin:38% 0%;
    }
  }

  // why text > link
  .why_us_text{
    a{
      padding:2.5%;
    }
  }


  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about{
    .text{
      width:60%;
      margin-top:17%;
      margin-left:5%;
    }
  }

}

@media screen and (max-width: 1024px) {


  /*
  ----------------------------------------------------------
  HOME PAGE
  ----------------------------------------------------------
  */
  // image container > text > h1
  .image_container{
    .text{
      margin-top:35%;
    }
  }

  // hide and reveal menus
  .top-menu{
    visibility: hidden;
  }

  .hamburger-menu{
    visibility: visible;
  }

  // our clients > img
  .our_clients{
    .client{
      img{
        height:50px;
      }
    }
  }

  // testimonial text width
  .testimony{
    p{
      width:100%!important;
    }
  }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about{
    .text{
      width:90%;
      margin-top:27%;
    }
  }

}


@media screen and (max-width: 768px) {

  /*
  ----------------------------------------------------------
  HOME PAGE
  ----------------------------------------------------------
  */
  // image container > text > h1
  .image_container{
    .text{
      margin-top:50%;

      h1{
        margin:5% 0%;
      }
    }
  }

  // hidden menu > ul
  .hidden-menu{
    ul{
      padding:25% 0%;
    }
  }

  // button
  .button{
    padding:3%;
  }


  // our clients > img
  .our_clients{
    .client{
      margin:3% 0%;

      img{
        height:100px;
      }
    }
  }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about{
    .text{
      width:100%;
      margin-top:35%;
    }
  }

  .about_us{
    .text{
      text-align: center;
    }

    h1, p{
      width:100%; 
    }
  }

}

@media screen and (max-width: 500px) {
  .image_container{
    .text{
      margin-top:50%;

      h1{
        margin:5% 0%;
      }
    }
  }

  .quick_question{
    margin:2%;
    a{
      display:block;
    }
  }

  .why_us_text{
    height:60vh;
  }

  .testimony{
    h4{
      span{
        border:none;
      }
    }
  }

  footer{
    font-size:.8em;
  }

  /*
  ----------------------------------------------------------
  ABOUT US
  ----------------------------------------------------------
  */
  .welcome_to_about{
    .text{
      width:100%;
      margin-top:35%;
      margin-left:0%;
      text-align: center;

      h1{
        width:100%;
        border-bottom:none;
      }

      p{
        font-size:1.5em;
        width:100%;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .image_container{
    .text{
      margin-top:50%;

      h1{
        margin:5% 0%;
        font-size:2em;
      }

      h2{
        font-size:1.5em;
      }
    }
  }
}

@media screen and (max-width: 320px) {

}
